<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="authenticated">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <title>Категории товаров</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" style="background: #F5F5F5;">
    <a style="font-style: italic;font-size: 50px; color: black; text-decoration: none; margin-left: 70px; font-family: ‘Open Sans’;" href="/">StonX</a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <div class="crossed"><a class="crossed-link" style="font-style: italic;font-size: 25px; color: black; text-decoration: none; margin-left: 70px; font-family: ‘Open Sans’;" th:href="@{/admin}" href="#">Панель администратора</a></div>
        <div class="crossed"><a class="crossed-link" style="font-style: italic;font-size: 25px; color: black; text-decoration: none; margin-left: 70px; font-family: ‘Open Sans’;" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Выйти</a></div>
    </nav>
</div>
<div class="container">

    <a th:href="@{/admin/categories/add}" style="margin: 20px 0" class="btn btn-primary">Добавить категорию</a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя категории</th>
            <th scope="col">Удалить</th>
            <th scope="col">Обновить</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="prodType, iStat : ${productTypes}">
            <th scope="row" th:text="${prodType.id}"></th>
            <td>
                <div>
                    <h3 th:text="${prodType.name}"></h3>
                </div>
            </td>
            <td>
            <a href="" th:href="@{/admin/categories/delete/{id}(id=${prodType.id})}" class="btn btn-danger">Удалить</a>
            </td>
            <td>
                <a href="" th:href="@{/admin/categories/update/{id}(id=${prodType.id})}" class="btn btn-warning">Обновить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>